 @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Space+Grotesk:wght@500&display=swap');

 :root{
    --Light_grayish_violet: hsl(270, 3%, 87%);
    --Dark_grayish_violet: hsl(279, 6%, 55%);
    --Very_dark_violet: hsl(278, 68%, 11%);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family:'Space Grotesk', sans-serif;
}

main{
    display: flex;
    position: relative;
}

.box_left{
    width: 35%;
    background-image: url(images/bg-main-desktop.png);
    height: 100vh;
    border: 1px solid green;
}

.box_right{
    width: 65%;
    background-color: white;
    height: 99vh;
    position: relative;
}

.box_right_inscription{
    width: 35%;
    position : absolute;
    top: 30%;
    right: 200px;
}
.entete_champ{
    font-family:'Space Grotesk', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 1rem;
    margin-left: 0.5rem;
}
.champ_saisie{
    height: 32px;
    margin: 0.5rem;
    padding-left: 0.5rem;
    display: flex;
    align-items: center;
    border: 1px solid var(--Dark_grayish_violet);
    border-radius: 0.5rem;
    color: var(--Dark_grayish_violet);
}

.champ_confirm{
    margin-top: 20px;
    background-color: hsl(278, 68%, 11%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date_product{
    display: flex;
}

.product{
    margin-left: 0.5rem;
    width: 50%;
}
.date{
    width: 50%;
}
.product .champ_saisie{
    width: 90%;
}
.mois_annee{
    display: flex;
}
.mois_annee .champ_saisie{
    width: 90%;
}

.cart_front{
    background-image: url(images/bg-card-front.png);
    width: 400px;
    height: 200px;
    background-size: cover;
    position: absolute;
    top: 125px;
    left: 200px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    
}

.cart_back{
    background-image: url(images/bg-card-back.png);
    width: 400px;
    height: 200px;
    background-size: cover;
    margin-top: 20px;
    position: absolute;
    top: 325px;
    left: 270px;
    border-radius: 0.5rem;
}
.cart_back p{
    color: white;
    position: absolute;
    top: 100px;
    left: 320px;
}

.name_cart{
    display: flex;
    justify-content: space-around;
    justify-self: flex-end;
    position: relative;
    top: 125px ;
}
.no_cart{
    display: flex;
    justify-content: space-around;
    justify-self: flex-end;
    position: relative;
    top: 100px ;
    color: white;
    font: bold 18px 'Space Grotesk', sans-serif ;
}
.no_cart p{
    letter-spacing: 0.2rem;
}
